body {
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-left: 0px;
  margin-top: 0px;
  font-size: 25px;
}

h2 {
  text-decoration: none;
}

img {
  width: 60px;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}
.below-city {
  padding-top: 0px;
  padding-left: 0px;
}

.main-temperature {
  font-size: 45px;
  padding-right: 0px;
  margin-right: 5px;
  position: relative;
}
.main-temperature.active {
  color: black;
  cursor: default;
}
.main-temperature.active:hover {
  text-decoration: none;
}

.warning {
  font-size: 12px;
}
.weather-description {
  text-align: end;
  padding-left: 0px;
  text-transform: capitalize;
  float: right;
  font-size: 12px;
  display: inline;
}
.weather-description:first-letter {
  text-transform: uppercase;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.small {
  text-align: center;
  font-size: 10px;
  margin: auto;
}

.weather-app {
  border: 1px solid;
  border-color: #d5d5d5;
  border-radius: 5px;
  padding: 30px;
  margin: 50px auto;
  max-width: 600px;
}
